* {
   /*fixed width and height of divs despite paddings*/
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
     z-index: 1;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#map-canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin: 0;
    margin-top: -5px;
    padding: 0;
  /*  z-index: 100;
*/}


.added-city{
    height: 25px;
}

.city-selected{
    
}

/* BootStrap */ 
div.col-sm-10, div.col-sm-2, .same-height-col{
    height: 100vh;
/*     height: 100px;*/
}

.inner-panel{
    padding: 0px !important; 
}
.centerHorizontally{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-0%);
    -webkit-transform: translate(-50%,-0%);
    -moz-transform: translate(-50%,-0%);
    -o-transform: translate(-50%,-0%);
    -ms-transform: translate(-50%,-0%);
}
.center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

/* bootstrap */
.form-control{
    width: 100% !important;
}
/* bootstrap */
.glyphicon-plus{
    color: green;
    margin-left: -10px;
    cursor: pointer;
}
.glyphicon-remove{
    margin-left: -10px;
    color: red;
    cursor: pointer;
}
.highlight1{
    color: black;
}
.highlight2{
    color: #525252;
}
.navbar-menu, .navbar-menu-right, .navbar-menu .row, .navbar-menu .container, .navbar-menu .container .row div:nth-child(1){
    min-height: 40px !important;
    height: 40px !important;
    line-height: 40px;
    z-index: 101;
}
.navbar-menu-right{
    padding: 0px;
}
.navbar-menu{
    background-color: #333333;
}

#left-panel{

}
#right-panel{
    padding: 0px;
    padding-top: 60px;
    border-left: 1px solid #ddd;  
    overflow: scroll;
    -webkit-box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.4);
-moz-box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.4);
box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.4);
}

#right-panel-menu{
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}
#right-panel-menu li a{
    color: #829EFA;
}
#right-panel-menu .active a{
    background-color: #3E60CF;
    color: white;
    border-radius: 0px;
    border-top: none;
    border-bottom: none;
    margin-top: -1px;
}
.right-panel-form{
  /*  max-width:400px;
    margin:50px auto;*/
    background:#fff;
    border-radius:2px;
    padding: 10px;
   /* font-family: Georgia, "Times New Roman", Times, serif;*/
}
.right-panel-form h1{
    display: block;
    text-align: center;
    padding: 0;
    margin: 0px 0px 20px 0px;
    color: #5C5C5C;
    font-size:x-large;
}
.right-panel-form ul{
    list-style:none;
    padding:0;
    margin:0;  
}
.right-panel-form li{
    display: block;
    padding: 9px;
    border-radius: 3px;
/*    border:1px solid #DDDDDD !important;*/
}
.li-border{
    border:1px solid #DDDDDD !important;
}
.right-panel-form li:last-child{
    border:none;
    margin-bottom: 0px;
    text-align: center;
}
.right-panel-form li > label{
    display: block;
    float: left;
    margin-top: -19px;
    background: #FFFFFF;
    height: 18px;
    padding: 2px 2px 2px 2px;
    color: #B9B9B9;
    font-size: 14px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
.right-panel-form input[type="text"],
.right-panel-form input[type="date"],
.right-panel-form input[type="datetime"],
.right-panel-form input[type="email"],
.right-panel-form input[type="number"],
.right-panel-form input[type="search"],
.right-panel-form input[type="time"],
.right-panel-form input[type="url"],
.right-panel-form input[type="password"],
.right-panel-form textarea,
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    padding: 0;
    margin: 0px;
}
.right-panel-form input[type="text"]:focus,
.right-panel-form input[type="date"]:focus,
.right-panel-form input[type="datetime"]:focus,
.right-panel-form input[type="email"]:focus,
.right-panel-form input[type="number"]:focus,
.right-panel-form input[type="search"]:focus,
.right-panel-form input[type="time"]:focus,
.right-panel-form input[type="url"]:focus,
.right-panel-form input[type="password"]:focus,
.right-panel-form textarea:focus,
.right-panel-form select:focus
{
}
.right-panel-form li > span{
    background: #F3F3F3;
    display: block;
    padding: 3px;
    margin: 0 -9px -9px -9px;
    text-align: center;
    color: #C0C0C0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}
.right-panel-form textarea{
    resize:none;
}
.right-panel-form input[type="submit"],
.right-panel-form input[type="button"]{
    background: #2471FF;
    border: none;
    padding: 10px 20px 10px 20px;
    border-bottom: 3px solid #5994FF;
    border-radius: 3px;
    color: #D2E2FF;
}
.right-panel-form input[type="submit"]:hover,
.right-panel-form input[type="button"]:hover{
    background: #6B9FFF;
    color:#fff;
}


#searchPhraseIn{
    margin: 2px;
    border: none;
    width: 100%;
}
#title{
    position: absolute;
/*    top: 50%;
    transform: translate(-0%, -50%);
    -webkit-transform: translate(-0%, -50%);
    -moz-transform: translate(-0%, -50%);
    -o-transform: translate(-0%, -50%);
    -ms-transform: translate(-0%, -50%);*/
    color: #858585;
    float: left;
    font-weight: 600;
    font-size: 18px;
}









