<!DOCTYPE html>
<html lang="en" ng-app="salaryMap">
    <head>
        <meta charset="utf-8">

        <!--CSS-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/style/base.css">
        <link rel="stylesheet" type="text/css" href="/style/salary.css">
        <!--
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsnaGf5pCVRpo5hCpcBfOq0J5Vdzj8DLY&signed_in=true&libraries=places&sensor=false" async defer></script>
        -->
    </head>


	<body ng-init="loadAllLocationsToScreen()">
        <nav class="navbar navbar-default navbar-fixed-top" style="min-height: 40px !important;">
            <div class="container">
                <p id="title">SalaryMap</p>
            </div>
        </nav>
        <!-- START 'container-fluid' -->
        <div class="container-fluid" style="margin-top: 40px !important;">
            <div class="row">
                <div class="col-sm-10 same-height-col">
                    <div id="map-canvas"></div>
                </div>
                <div class="col-sm-2 same-height-col" id="right-panel">
                    <ul class="nav nav-tabs" id="right-panel-menu">
                      <li role="presentation" class="active" data-tab="filter"><a href="#">Filter</a></li>
                      <li role="presentation" data-tab="salary"><a href="#">Salary</a></li>
                      <li role="presentation"><a href="#">Other</a></li>
                    </ul>
                    <div id="filterContent"  ng-controller="locations">
                        {% include "filter.html" %}
                    </div>
                    <div id="salaryContent" style="display:none">
                        {% include "salary.html" %}
                    </div>
                </div> 
            </div>
        </div>
        <!-- END 'container-fluid' -->
	</body>	
    <!--Javascript-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- <script type="text/javascript"src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsnaGf5pCVRpo5hCpcBfOq0J5Vdzj8DLY"></script>
    -->




    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>   
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsnaGf5pCVRpo5hCpcBfOq0J5Vdzj8DLY&libraries=places"></script> 
    <script type="text/javascript" src="/js/base.js"></script>
    <script type="text/javascript" src="/js/geocoding.js"></script>
    <script type="text/javascript" src="/js/maps.js"></script>
    <script type="text/javascript" src="/js/jobs.js"></script>
    <!-- <script type="text/javascript" src="http://api.glassdoor.com/api/api.htm?t.p=47182&t.k=ckMc41ydCN9&userip=0.0.0.0&useragent=&format=json&v=1&action=jobs-stats&returnStates=true&admLevelRequested=1&callback=getJobsCallback"> -->



</html>