
<form >
	<ul class="right-panel-form">
		<li class="li-border">
		    <label for="searchPhraseIn">Job Title</label>
		    <input id="searchPhraseIn" type="text" name="searchPhraseIn" placeholder="Type Job Title Here" maxlength="100">
		    <br><br>
		    <span>Ex. Software Engineer, Accountant, Human Resources</span>
		</li>
		<br><br><br>
		<li class="li-border">
		    <label for="cityIn">Locations</label>

<!-- 					<select name="cityIn" class="form-control" style="width: 100%;">
				<optgroup label="PA">
					<option>Pittsburgh</option>
					<option>Philadelphia</option>
				</optgroup>
				<optgroup label="CA">
					<option>San Francisco</option>
					<option>San Diego</option>
				</optgroup>
			</select> 
-->
			<div class="row">
				<div class="row inner-panel">
						<div class="col-sm-9 added-city">
						<p class="center"><i>Philadelphia</i></p>
					</div>
					<div class="col-sm-3 added-city">
						<span class="glyphicon glyphicon-plus center" ng-click="handleLocation($event)" data-loc="Philadelphia"></span>
					</div>
					<div class="col-sm-9 added-city">
						<p class="center city-selected"><i>Pittsburgh</i><p>
					</div>
					<div class="col-sm-3 added-city">
						<span class="glyphicon glyphicon-plus center" ng-click="handleLocation($event)" data-loc="Pittsburgh"></span>
					</div> 
				</div>
			</div>
			<br><br>
			<span>Cities your're searching for work in</span>
		</li>
		<br>
		<li>
		  <button type="button" class="btn btn-default btn-lg filter" style="width:100%">Filter</button>
		</li>

	</ul>

</form>

