{% extends 'base.html' %}

{% block content %}

<style>
/*	.nav{
		border: 1px solid red;
		margin: 0px;
	}*/

</style>

<div class="row">
    <div class="col-sm-10">
        <div id="map-canvas"></div>
    </div>
    <div class="col-sm-2" id="right-panel">
		<ul class="nav nav-tabs" id="right-panel-menu">
		  <li role="presentation" class="active"><a href="#">Filter</a></li>
		  <li role="presentation"><a href="#">Salary</a></li>
		  <li role="presentation"><a href="#">Other</a></li>
		</ul>
    	<!-- <form class="form-inline">
		  <div class="form-group">
		    <label for="searchPhraseIn">Job Title</label>
		    <input type="text" class="form-control" id="searchPhraseIn">
		  </div>
		  <div class="form-group">
		    <label for="cityIn">City</label>
		    <input type="email" class="form-control" id="cityIn">
		  </div>
		  <button type="submit" class="btn btn-default">Send invitation</button>
		</form> -->
    </div> 
</div>
{% endblock %}